body {
    background-color: blueviolet;
    color: #0b0b0b;

}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clock{
    font-size: 50px;
    background-color: blanchedalmond;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 15px;
}
